body { margin: 0; }

.container { text-align: center; }

.result { margin: 40px; }

.buttons { margin: 40px; }

.overlay { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }

.show { display: block; }

.modal { display: none; background: #fff; width: auto; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); }

.close { position: absolute; right: 0; top: 0; padding: 5px; color: #000; text-decoration: none; }

header { font-size: 20px; line-height: 30px; min-height: 30px; font-weight: bold; padding: 0 30px; }

.content { min-height: 30px; padding: 5px 30px; }

table { width: 100%; }

th, td { text-align: center; border: 1px solid black; padding: 0px; }
